@model FitFlexApparel.Models.Wishlist

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Wishlist</h4>
    <hr />
    <div class="row">
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Added At")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Added_At)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("AspNetUser.Email")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.AspNetUser.Email)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product.Product Name")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Product.Product_Name)
			</div>
		</div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
</p>
