@model FitFlexApparel.Models.ProductReview

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>ProductReview</h4>
    <hr />
    <div class="row">
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Product_Id)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Product_Id)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Review)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Review)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Rating)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Rating)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Created_At)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Created_At)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.IsDeleted)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.IsDeleted)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.AspNetUser.Email)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.AspNetUser.Email)
			</div>
		</div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
</p>
