@model FitFlexApparel.Models.Blog

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Blog</h4>
    <hr />
    <div class="row">
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Blog_Name)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Blog_Name)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Written_On)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Written_On)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Edited_On)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Edited_On)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.IsAvailable)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.IsAvailable)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Created_By)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Created_By)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Blogger_Name)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Blogger_Name)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Blog1)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Blog1)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.IsDeleted)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.IsDeleted)
			</div>
		</div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
</p>
