@model IEnumerable<FitFlexApparel.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Blogs</h2>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table table-striped" style="text-align:center; border:double; display:block; overflow:auto;">
    <tr>
        <th>
            @Html.DisplayName("Blog Name")
        </th>
        <th>
            @Html.DisplayName("Written On")
        </th>
        <th>
            @Html.DisplayName("Edited On")
        </th>
        <th>
            @Html.DisplayName("IsAvailable")
        </th>
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th>
            @Html.DisplayName("Blogger Name")
        </th>
        <th>
            @Html.DisplayName("IsDeleted")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Blogs/Read/@item.Id" target="_blank">@Html.DisplayFor(modelItem => item.Blog_Name)</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Written_On)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edited_On)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blogger_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td style="width:175px!important">
            @Html.ActionLink("Details", "Read", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success", @style = "width:65px" }) 
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-info", @style = "width:65px" }) 
            @Html.ActionLink("Disable", "SoftDelete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger", @style = "width:65px" })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary", @style = "width:65px" }) 
        </td>
    </tr>
}

</table>
