@model FitFlexApparel.Models.SubCategory

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>SubCategory</h4>
    <hr />
    <div class="row">
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Subcategory Name")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Subcategory_Name)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Subcategory Description")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Subcategory_Description)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Subcategory Image")
				</b>
			</div>

			<div class="col-md-12">
				<img src="/UploadedImages/@Model.Subcategory_Image" style="width:250px;height:250px;border:solid" />
			</div>
		</div>
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Subcategory Slug")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Subcategory_Slug)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("IsDeleted")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.IsDeleted)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Category.Category Name")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Category.Category_Name)
			</div>
		</div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
</p>
