@model FitFlexApparel.Models.SubCategory

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>SubCategory</h4>
    <hr />
    <div class="row">
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Subcategory_Name)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Subcategory_Name)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Subcategory_Description)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Subcategory_Description)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Subcategory_Image)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Subcategory_Image)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Subcategory_Slug)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Subcategory_Slug)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.IsDeleted)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.IsDeleted)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Category.Category_Name)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Category.Category_Name)
			</div>
		</div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
</p>
