@model FitFlexApparel.Models.ContributionRequest

@{
    ViewBag.Title = "Create";
}


<link rel="stylesheet" href="/Assets/Login/css/style.css">

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            <li class="active"><a href="/ContributionRequest/Create/@ViewBag.Request_Id">Grow with Us</a></li>
        </ul>
    </div>
</div>

<section style="padding-top:50px;min-height:400px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-login" style="max-width:560px">
                    <section id="content" style="width:500px;">
                        <form method="post" action="/ContributionRequests/Create" class="form-horizontal" style="margin-left:35px;width:400px;padding-bottom:10px;">

                            @Html.AntiForgeryToken()

                            <h2>Grow with Us</h2>
                            <div class="form-group">
                                @Html.Label("", "Type", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Request_Type_Id", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("", "Name", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <input type="text" name="Name" id="Name" class="form-control" />
                                    <input type="text" name="Request_Type_Id" id="Request_Type_Id" style="display:none" value="@ViewBag.Request_Id" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("", "Email", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <input type="email" name="Email" id="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("", "Phone Number", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <input type="text" name="Contact_No" id="Contact_No" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("", "Country", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <input type="text" name="Country" id="Country" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("", "Message", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <textarea name="Message" id="Message" maxlength="500" placeholder="Max 500 words.." class="form-control"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>

                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
