@model FitFlexApparel.Models.Category

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Category</h4>
    <hr />
    <div class="row">
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Category_Name)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Category_Name)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Category_Description)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Category_Description)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Category_Image)
				</b>
			</div>

			<div class="col-md-12">
                <img src="/UploadedImages/@Model.Category_Image" style="width:250px;height:250px;border:solid" />
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.Category_Slug)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Category_Slug)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayNameFor(model => model.IsDeleted)
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.IsDeleted)
			</div>
		</div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
</p>
