@model FitFlexApparel.Models.Product

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Name")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Product_Name)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Description")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Product_Description)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Image1")
				</b>
			</div>

			<div class="col-md-12">
				<img src="/UploadedImages/@Model.Product_Image1" style="width:250px;height:250px;border:solid" />
			</div>
		</div>
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Image2")
				</b>
			</div>

			<div class="col-md-12">
				<img src="/UploadedImages/@Model.Product_Image2" style="width:250px;height:250px;border:solid" />
			</div>
		</div>
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Image3")
				</b>
			</div>

			<div class="col-md-12">
				<img src="/UploadedImages/@Model.Product_Image3" style="width:250px;height:250px;border:solid" />
			</div>
		</div>
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Image4")
				</b>
			</div>

			<div class="col-md-12">
				<img src="/UploadedImages/@Model.Product_Image4" style="width:250px;height:250px;border:solid" />
			</div>
		</div>
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Image5")
				</b>
			</div>

			<div class="col-md-12">
				<img src="/UploadedImages/@Model.Product_Image5" style="width:250px;height:250px;border:solid" />
			</div>
		</div>
		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Overview")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Product_Overview)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Stock")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Product_Stock)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Company Profile")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Company_Profile)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Original Price")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Original_Price)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Average Rating")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Average_Rating)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Total Ratings")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Total_Ratings)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Product Slug")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Product_Slug)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("IsDeleted")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.IsDeleted)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("Brand.Brand Name")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.Brand.Brand_Name)
			</div>
		</div>

		<div class="col-md-6" style="padding:15px;">
			<div class="col-md-12">
				<b>
					@Html.DisplayName("SubCategory.Subcategory Name")
				</b>
			</div>

			<div class="col-md-12">
				@Html.DisplayFor(model => model.SubCategory.Subcategory_Name)
			</div>
		</div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
</p>
