@model IEnumerable<FitFlexApparel.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table table-striped" style="text-align:center; border:double; display:block; overflow:auto;">
    <tr>
        <th>
            @Html.DisplayName("Product Name")
        </th>
        @*<th>
            @Html.DisplayName("Product Description")
        </th>*@
        <th>
            @Html.DisplayName("Product Image1")
        </th>
        @*<th>
            @Html.DisplayName("Product Image2")
        </th>
        <th>
            @Html.DisplayName("Product Image3")
        </th>
        <th>
            @Html.DisplayName("Product Image4")
        </th>
        <th>
            @Html.DisplayName("Product Image5")
        </th>
        <th>
            @Html.DisplayName("Product Overview")
        </th>
        <th>
            @Html.DisplayName("Product Stock")
        </th>
        <th>
            @Html.DisplayName("Company Profile")
        </th>*@
        <th>
            @Html.DisplayName("Price/Peice")
        </th>
        <th>
            @Html.DisplayName("Average Rating")
        </th>
        <th>
            @Html.DisplayName("Total Ratings")
        </th>
        @*<th>
            @Html.DisplayName("Product Slug")
        </th>*@
        <th>
            @Html.DisplayName("Disabled")
        </th>
        <th>
            @Html.DisplayName("Brand Name")
        </th>
        <th>
            @Html.DisplayName("Subcategory Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Products/Display/@item.Id">@Html.DisplayFor(modelItem => item.Product_Name)</a>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Product_Description)
        </td>*@
        <td>
            <img src="/UploadedImages/@item.Product_Image1" style="max-height:100px;width:100px" />
        </td>
        @*<td>
            <img src="/UploadedImages/@item.Product_Image2" style="max-height:100px;width:100px" />
        </td>
        <td>
            <img src="/UploadedImages/@item.Product_Image3" style="max-height:100px;width:100px" />
        </td>
        <td>
            <img src="/UploadedImages/@item.Product_Image4" style="max-height:100px;width:100px" />
        </td>
        <td>
            <img src="/UploadedImages/@item.Product_Image5" style="max-height:100px;width:100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company_Profile)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Original_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Average_Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Ratings)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Product_Slug)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Brand_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.Subcategory_Name)
        </td>
        <td style="width:175px!important">
            @Html.ActionLink("Details", "Details", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success", @style = "width:65px" }) 
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-info", @style = "width:65px" }) 
            @Html.ActionLink("Disable", "SoftDelete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger", @style = "width:65px" })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary", @style = "width:65px" }) 
        </td>
    </tr>
}

</table>
